In [75]:
import pandas as pd
import numpy as np

Create a list of each file that needs to be combined

In [76]:
companies = ["AXP", "BA", "CAT", "CSCO", "CVX", "DD", "DIS", "GE", "GS", "HD", "IBM", "INTC", 
            "JNJ", "JPM", "KO", "MCD", "MMM", "MRK", "MSFT", "NKE", "PFE", "PG", "T", "TRV", "UNH",
            "UTX", "V", "VZ", "WMT", "XOM"]

In [77]:
def shifter(df,num, var):
    df[var + str(num)] = df[var].shift(num)

In [78]:
def list_shift(df, numbers, variables):
    for e in variables:
        for x in numbers:
            shifter(df,x,e)

In [79]:
vari = ["NUM_NEG", "NUM_NEU", 'NUM_POS', "TW", "CLOSE"]

nums = [1,2,3]

In [80]:
def reader(interest, numbers, variables):
    s = str(interest)
    a = pd.read_csv("/Users/jacobbills/Desktop/Economics/Twitter_sentiment_DJIA30/financial_data_" +s + ".csv")
    b = pd.read_csv("/Users/jacobbills/Desktop/Economics/Twitter_sentiment_DJIA30/twitter_data_" +s + ".csv")
    c = a.merge(b, how='right', sort=True)
    c['weekend'] = c['HIGH']
    c['weekend'].fillna(1, inplace=True)
    for i in range(len(c['weekend'])):
        if c.loc[i,'weekend']>1:
            c.loc[i,'weekend'] = 0
        else:
            c.loc[i,'weekend'] = 1
    c.fillna(method='ffill', inplace=True)
    list_shift(c, numbers, variables)
    c.dropna(inplace=True)
    c[s] = 1
    return c

In [81]:
def read_dict(li, num, variables):
    count = 0
    y = {}
    for e in li: 
        y[count] = reader(e,num, variables)
        count += 1
    return y

In [82]:
def dict_concat(dic, rang):
    count = 0
    x = dic[0]
    for r in range(rang):
        x = pd.concat([x, dic[r]], ignore_index=True, sort=False)
    return x

In [83]:
def complete_csv_reader(lis, nums, var, rang, title):
    a = read_dict(lis, nums, var)
    x = dict_concat(a, rang)
    x = x.fillna(0)
    x.to_csv(title +".csv")
    return x

In [84]:
test = complete_csv_reader(companies, nums, vari, 30, "Combined_stocks")

In [86]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14654 entries, 0 to 14653
Data columns (total 55 columns):
Unnamed: 0    14654 non-null object
HIGH          14654 non-null float64
CLOSE         14654 non-null float64
OPEN          14654 non-null float64
LOW           14654 non-null float64
NUM_NEG       14654 non-null float64
NUM_NEU       14654 non-null float64
NUM_POS       14654 non-null float64
TW            14654 non-null float64
weekend       14654 non-null float64
NUM_NEG1      14654 non-null float64
NUM_NEG2      14654 non-null float64
NUM_NEG3      14654 non-null float64
NUM_NEU1      14654 non-null float64
NUM_NEU2      14654 non-null float64
NUM_NEU3      14654 non-null float64
NUM_POS1      14654 non-null float64
NUM_POS2      14654 non-null float64
NUM_POS3      14654 non-null float64
TW1           14654 non-null float64
TW2           14654 non-null float64
TW3           14654 non-null float64
CLOSE1        14654 non-null float64
CLOSE2        14654 non-null float64
CLOSE3        14654 non-null float64
AXP           14654 non-null float64
BA            14654 non-null float64
CAT           14654 non-null float64
CSCO          14654 non-null float64
CVX           14654 non-null float64
DD            14654 non-null float64
DIS           14654 non-null float64
GE            14654 non-null float64
GS            14654 non-null float64
HD            14654 non-null float64
IBM           14654 non-null float64
INTC          14654 non-null float64
JNJ           14654 non-null float64
JPM           14654 non-null float64
KO            14654 non-null float64
MCD           14654 non-null float64
MMM           14654 non-null float64
MRK           14654 non-null float64
MSFT          14654 non-null float64
NKE           14654 non-null float64
PFE           14654 non-null float64
PG            14654 non-null float64
T             14654 non-null float64
TRV           14654 non-null float64
UNH           14654 non-null float64
UTX           14654 non-null float64
V             14654 non-null float64
VZ            14654 non-null float64
WMT           14654 non-null float64
XOM           14654 non-null float64
dtypes: float64(54), object(1)
memory usage: 6.1+ MB

476